doctype
html(ng-app="VideoChat")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Video Streams with webRTC
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='styles.css' rel='stylesheet')
  body
    div(ng-view="")
    script(src='jquery/jquery.js')
    script(src='angular/angular.js')
    script(src='angular-route/angular-route.js')
    script(src='socket.io/socket.io.js')
    script(src='resize.js')
    script(src='app.js')