doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Video Streams with webRTC
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='styles.css' rel='stylesheet')
  body
    button#callButton Make a call
    video(id='localVideo' autoplay)
    video(id='remoteVideo' autoplay)

    script(src='jquery/jquery.js')
    script(src='socket.io/socket.io.js')
    script(src='resize.js')
    script(src='app.js')