body {
  text-align: center;
  background-color: #000;
  color: #444;
}

video{
  position: absolute;
}

#localVideo {
  z-index: 2;
}

#remoteVideo {
  z-index: 1;
}

#callButton{
  z-index: 3;
}

.alert{
  display: none;
  margin: 25px auto 0;
  width: 80%;
}

#callButton{
  position: absolute;
  margin: 25px;
  top: 0;
  left: 0;
}